.report-wrapper[_ngcontent-c1] {
    display: flex; 
    background-color: white;
    margin: 15px;
    box-shadow: #ccc 2px 2px;
    /*padding: 25px 15px;*/
  }
  .report-panel{ padding: 0;}
  .report-panel .table span{
    color: #565050!important;
    font-size: 0.85em;
    font-family: 'Montserrat-Regular';
  }
  .report-wrapper table{
    /*border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;*/
  }
  .report_heading{
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    color: #11b895;
    margin-top: 20px;
    text-shadow: 0px 1px 0px #ffffff;
    margin-bottom: 20px;
  }
  .paginationDiv{ padding-top: 20px; text-align: right;}
  .paginationDiv nav{ float: right; margin-right: 20px; margin-bottom: 20px; }
  .fa-times {color: #ff2500; font-size : 1.25rem;}
  .fa-check {color: #008000; font-size : 1.25rem;}
  .report-panel .table th{
    text-align: center;
  }
  .report-panel .table td{
    text-align: center;
  }