.ticket-detail-wrapper{
    padding: 1.8rem;
    .pane{
        background-color: #fff;
        padding: 1.8em;
        border: 1px solid #ebeff6;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        .row-1{
            .col-1{
                float: left;
            }
            .col-2{
                float: right;
            }
        }
        .summary{
            padding: 1rem 0 1rem 0;
        }
    }

    .clear-layout{
        clear: both;
    }
}