
<div class="ticket-detail-wrapper">
  <div>
    ID: {{ticketDetails.ticketId || naText}}
  </div>
  <div>
    Created at: {{ ticketDetails.createdAt || naText }}
  </div>
  <div>
    Category: {{ ticketDetails.category || naText }}
  </div>
  <div>
    Sub category: {{ ticketDetails.subcategory || naText }}
  </div>
  <div>
    Impact: {{ ticketDetails.impact || naText }}
  </div>
  <div>
    Status: {{ ticketDetails.status || naText }}
  </div>
  <div>
    Summary: {{ ticketDetails.summary || naText }}
  </div>
</div>
