<div class="ticket_heading">Ticket Management</div>
<div class="ticket-wrapper">
  <div class="col-md-12 ticket-panel">
    <table class="table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Submit Date
          </th>
          <th>
            Categorization
          </th>
          <th>
            Sub categorization
          </th>
          <th>
            Impact
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="ticket-row" (click)="rowSelected(ticket)" *ngFor="let ticket of ticketList">
          <td>
            TICKET0000541{{ticket.ticketId || naText}}
          </td>
          <td>
            {{ticket.createdAt || naText}}
          </td>
          <td>
            {{ticket.category || naText}}
          </td>
          <td>
            {{ticket.subcategory || naText}}
          </td>
          <td>
            {{ticket.impact || naText}}
          </td>
          <td>
            {{ticket.status || naText}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="paginationDiv">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
