<div class="ticket-wrapper">
  <div class="col-md-12">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Submit Date
          </th>
          <th>
            Categorization
          </th>
          <th>
            Sub categorization
          </th>
          <th>
            Impact
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="ticket-row" (click)="rowSelected(ticket)" *ngFor="let ticket of ticketList">
          <td>
            TICKET0000541{{ticket.ticketId || naText}}
          </td>
          <td>
            {{ticket.createdAt || naText}}
          </td>
          <td>
            {{ticket.category || naText}}
          </td>
          <td>
            {{ticket.subcategory || naText}}
          </td>
          <td>
            {{ticket.impact || naText}}
          </td>
          <td>
            {{ticket.status || naText}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
