<div class="ticket-wrapper">
  <div class="col-md-12 ticket-panel">
    <table class="table table-hover ticket-table">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Submit Date
          </th>
          <th>
            Categorization
          </th>
          <th>
            Assignee Support Organization
          </th>
          <th>
            Assignee Support Group
          </th>
          <th>
            Priority
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of ticketList">
          <td>
            {{ticket.id || naText}}
          </td>
          <td>
            {{ticket.submit_date || naText}}
          </td>
          <td>
            {{ticket.categorization || naText}}
          </td>
          <td>
            {{ticket.support_org || naText}}
          </td>
          <td>
            {{ticket.support_group || naText}}
          </td>
          <td>
            {{ticket.priority || naText}}
          </td>
          <td>
            {{ticket.status || naText}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
