

.custom__si__loader{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .image__container{
        width: 70px;
        height: 70px;
        flex: 0 0 auto;
        background-image: url('../assets/images/SI_loading.gif')
    }
    .loader-message{
        color: #fff;
        font-weight: 600;
        font-size: 2rem;
    }
}

.notification-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;  
    .reduced-width{
        flex: 0 0 60rem;
    }
}