.inbox-mail{
    display: flex;
    flex-flow: row nowrap;
    .table-row{
        cursor: pointer;
        .table-text{
            .title{
                color: #999;
                font-size: 0.8rem;
                font-weight: 600;
            }
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    .raised-box{
        position: relative;
        height: 100%;
        background-color: #fff;
        padding: 1.8em;
        border: 1px solid #ebeff6;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        .button-container{
            position: absolute;
            bottom: 1rem;
            right: 1.8em;
        }
    }
}

