<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<div [ngStyle]="{'display': hideLoader ? 'none': null}" class="custom__si__loader">
    <div class="image__container">
    </div>
    <div [hidden]="!modalMessage" class="loader-message">
        {{modalMessage || naText}}
    </div>
</div>
<div [ngStyle]="{'display': showNotification ? null : 'none'}" class="notification-container">
    <div class="alert alert-success reduced-width" role="alert">
        <strong>Success!</strong> Indent {{  noteMessage}} has been successfully created.
    </div>
</div>


