.resumes-wrapper{
    display: flex;
    padding: 1rem;
    .resume-list-item{
        position: relative;
        cursor: pointer;
        background-color: #fff;
        padding: 1rem;
        border: 1px solid #ebeff6;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        // height: 2rem;
        display: flex;
        flex-flow: row nowrap;
        color: rgb(153, 153, 153);
        .icon{
            flex: 0 0 2rem;
            color: rgb(153, 153, 153);
        }
        .desc{
            color: #000;
            .title{
                color: rgb(153, 153, 153);
            }
            flex: 0 0 25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .contact{
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        .call-icon{
            position: absolute;
            top: 1rem;
            right: 1rem;
            border-radius: 30%;
            border: 1px solid #0f0;
        }
        &:hover{
            background: #FAFAFA;
        }
    }

    .resume-table{
        width: 100%;
        .row{
            background-color: #fff;
            padding: 1rem;
            border: 1px solid #ebeff6;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -o-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            .cell{
                width:25%;
            }
        }

        .call-animation {
            background: #fff;
            width: 135px;
            height: 135px;
            position: relative;
            margin: 0 auto;
            border-radius: 100%;
            border: solid 5px #fff;
            animation: play 2s ease infinite;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
        
        }
        img {
                width: 135px;
                height: 135px;
                border-radius: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        @keyframes play {
        
            0% {
                transform: scale(1);
            }
            15% {
                box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
            }
            25% {
                box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4), 0 0 0 20px rgba(255, 255, 255, 0.2);
            }
            25% {
                box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4), 0 0 0 30px rgba(255, 255, 255, 0.2);
            }
        
        }
          
    }
}