<div class="resumes-wrapper">
    <div class="col-md-9 resume-panel">
        <!-- <div class="resume-list-item">
            <div class="icon"><i class="fa fa-inbox"></i></div>
            <div class="desc">
                <div class="name"><span class="title">Name: </span>Candidate name</div>
                <div class="tech"><span class="title">Technologies: </span>python, js, php</div>
            </div>
            <span class="contact"><span class="title">Contact: </span>46779887987</span>
            <span class="call-icon">Call 46779887987</span>
        </div>
        <div class="resume-list-item">
            <div class="icon"><i class="fa fa-inbox"></i></div>
            <div class="desc">
                <div class="name"><span class="title">Name: </span>Candidate name</div>
                <div class="tech"><span class="title">Technologies: </span>python, js, php</div>
                <span class="contact"><span class="title">Contact: </span>46779887987</span>
            </div>
        </div>
        <div class="resume-list-item">
            <div class="icon"><i class="fa fa-inbox"></i></div>
            <div class="desc">
                <div class="name"><span class="title">Name: </span>Candidate name</div>
                <div class="tech"><span class="title">Technologies: </span>python, js, php</div>
                <span class="contact"><span class="title">Contact: </span>46779887987</span>
            </div>
        </div> -->

        <table class="table table-hover resume-table">
            <thead>
                <tr>
                    <th colspan="2">
                        Basic Info
                    </th>
                    <th>
                        Technologies
                    </th>
                    <th width="25%">Tags</th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="noRightPadding"><img class="profilePic" src="https://placeimg.com/400/400/people" alt="" width="35"/></td>
                    <td class="noLeftPadding">
                        <div class="nameTxt">Candidate 1</div>
                        <div class="sec_nameTxt">Candidate1@gmail.com</div>
                    </td>
                    <td>
                        php, laravel
                    </td>
                    <td>
                        <span class="badge badge-success">Most Preferred</span>      
                        <span class="badge badge-primary">profile Match</span>  
                        <span class="badge badge-warning">same location</span>  
                                                                
                    </td>
                    <td>
                        9856432345
                    </td>
                    <td class="statusTxt">
                        <span class="status_cmplt">Completed</span>
                    </td>
                </tr>
                <tr class="active">
                    <td class="noRightPadding"><img class="profilePic" src="https://placeimg.com/400/400/people" alt="" width="35"/></td>
                    <td class="noLeftPadding">
                    <div class="nameTxt">Candidate 2</div>
                    <div class="sec_nameTxt">Candidate2@gmail.com</div>
                    </td>
                    <td>
                        php, laravel
                    </td>
                    <td>
                        <span class="badge badge-success">Most Preferred</span>     
                        <span class="badge badge-primary">profile Match</span>  
                        <span class="badge badge-danger">Star performer</span>                               
                    </td>
                    <td>
                        9856432345
                    </td>
                    <td class="statusTxt">
                        <span class="status_progress"> In Process</span>
                    </td>
                </tr>
                <tr>
                    <td class="noRightPadding"><img class="profilePic" src="https://placeimg.com/400/400/people" alt="" width="35"/></td>
                    <td class="noLeftPadding">
                        <div class="nameTxt">Candidate 3</div>
                        <div class="sec_nameTxt">Candidate3@gmail.com</div>
                    </td>
                    <td>
                        php, laravel
                    </td>
                    <td>
                        <span class="badge badge-success">Most Preferred</span>    
                        <span class="badge badge-primary">profile Match</span>
                        <span class="badge badge-warning">same location</span>  
                        <span class="badge badge-danger">Star performer</span>                                   
                    </td>
                    <td>
                        9856432345
                    </td>
                    <td class="statusTxt">
                        <span class="status_pending">pending</span>
                    </td>
                </tr>
                <tr>
                    <td class="noRightPadding"><img class="profilePic" src="https://placeimg.com/400/400/people" alt="" width="35"/></td>
                    <td class="noLeftPadding">
                        <div class="nameTxt">Candidate 4</div>
                        <div class="sec_nameTxt">Candidate4@gmail.com</div>
                    </td>
                    <td>
                        php, laravel
                    </td>
                    <td>
                        <span class="badge badge-success">Most Preferred</span>  
                        <span class="badge badge-primary">profile Match</span>  
                        <span class="badge badge-danger">Star performer</span>                                  
                    </td>
                    <td>
                        9856432345
                    </td>
                    <td class="statusTxt">
                            <span class="status_pending">pending</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 call-panel">
        <div class="call-details">
            <div class="call-status">Outgoing call</div>
            <div class="call-name">Sujay nabar</div>
            <div class="call-counter">00:13</div>
            <div class="call-user-icon">
                <div class="call-animation">
                    <img class="img-circle" src="https://placeimg.com/400/400/people" alt="" width="135"/>
                </div>
            </div>
            <!--div class="call-button">
                <i class="fa fa-phone"></i>
            </div-->
        </div>
    </div>  
</div>